.resource {
  padding-top: 100px;
}

.resource-images {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 40px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.resource-images-column {
  display: flex;
  flex-grow: 1;
  gap: 40px;
  flex-direction: column;
  max-width: 660px;

  @media (max-width: 768px) {
    max-width: 688px;
    gap: 19px;
  }
}

.resource-img {
  max-width: 100%;
  transition: all 1s;
  scale: 1.1;

  @media (max-width: 900px) {
    scale: 1.05;
  }

  @media (max-width: 500px) {
    max-width: 590px;
    scale: 1.25;
  }
}

@media (hover: hover) {
  .resource-img:hover {
    scale: 1;
  }
}

.img-container {
  max-width: 660px;
  border-radius: 20px;

  @media (max-width: 768px) {
    max-width: 688px;
  }

  @media (max-width: 500px) {
    max-width: 348px;
  }
}

.img-container-small {
  max-height: 430px;
  overflow: hidden;
}

.img-container-big {
  max-height: 590px;
  overflow: hidden;
}

.short-img {
  object-position: 0 -105px;
  @media (max-width: 1350px) {
    object-position: 0;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.big-img {
  object-position: 1px -35px;
  @media (max-width: 1350px) {
    object-position: 0;
  }

  @media (max-width: 768px) {
    object-position: 1px -49px;
  }

  @media (max-width: 500px) {
    object-position: -98px 0px;
  }
}
